* { font-family:'Times New Roman', Times, serif;
    color: white;
     }

body {
    background-color:black;
    margin:0;
}
.header {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 22px;
     border-style: outset;
     border-width: thick;
     border-color:gray;
     padding-bottom:  20px;
}

nav a {
    position: relative;
    display: inline-block;
}

/* nav li { 
    border-style: outset;
    border-color: hsl(355, 65%, 57%);
    border-width: 25px; */
    
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;

}

.header img {
    width: 98%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    border-color: hsl(355, 65%, 57%);
    }

section img {
    width: 250px;
    height: 150px;
    border-style: outset;
    border-color:gray;
    border-width: thick;
}

.breon:hover {
    transform:scale(1.5)
}

#breon img {
    margin: 20px auto;
    width: 250px;
    height: 350px;
}

header h2 {
    background-color: hsl(355, 65%, 57%);
    border-style: groove;
    border-width: thick;
    border-color: purple;
}

.header li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

footer {
    border-style: outset;
    border-color: gray;
    border-width: thick;
    margin-top: 20px;
}

.button:hover {
    /* transform: rotate(10deg); */
    /* transform: skew(20deg);  */
    transform: scale(1.1); 
}
