* { font-family:'Times New Roman', Times, serif;
    color:black;
     }

body {
    background-color:honeydew;
    margin:0;
}
.header {
    /* background-image: url("https://images.unsplash.com/photo-1483528237748-d9d8b5cae06d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"); */
     background-repeat: no-repeat; 
     background-size: cover;
     padding: 50px;
     font-size: 22px;
     border-style: outset;
     border-width: thick;
     border-color:gray;
     
}

nav a {
    position: relative;
    display: inline-block;
}

.header img {
    }

section img {
    width: 250px;
    height: 150px;
    border-style: outset;
    border-color:gray;
    border-width: thick;
}

.header li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}